################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/biblioteca.github.io/v17/Browse.VC.opendb
