################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/biblioteca.github.io/v17/Browse.VC.opendb
/.vs/biblioteca.github.io/v17/Browse.VC.db
/.vs/biblioteca.github.io/v17/Browse.VC.db-shm
/.vs/biblioteca.github.io/v17/Browse.VC.db-wal
/.vs/ThiagoBooks/v17/ipch/AutoPCH
/.vs/ThiagoBooks/v17
/Debug
/x64/Debug
